<h1 mat-dialog-title>
	<div *ngIf="data.isEdit; then editTitle else createTitle"></div>
	<ng-template #editTitle>
		Editing Metric:
		<span style="font-size: 70%;"> {{ data.resource._id }}</span>
	</ng-template>
	<ng-template #createTitle>
		Creating New Metric
	</ng-template>
	<button mat-dialog-close mat-icon-button class="pull-right" style="font-size: 150%" (click)="onCancelClick()">&times;</button>
</h1>
<form [formGroup]="form" *ngIf="getControl('slDataType'); let dataType">
	<mat-tab-group dynamicHeight>
		<mat-tab label="General" class="mviwo-unselectable">
			<div mat-dialog-content>
				<div class="row newL">
					<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
						<mat-form-field floatLabel="auto" *ngIf="getControl('tfName'); let ctrl">
							<input matInput type="text" placeholder="Metric Name" formControlName="tfName" required [maxLength]="rules.nameMaxLength"
							    cdkFocusInitial>
							<button *ngIf="hasValue(ctrl.value)" mat-icon-button matSuffix (click)="onEraseClick($event, ctrl)">
								<mat-icon>cancel</mat-icon>
							</button>
							<mat-hint align="end">
								characters left: {{ rules.nameMaxLength - ctrl.value.length }}
							</mat-hint>
							<mat-error>
								{{ getNameErrorMessage() }}
							</mat-error>
						</mat-form-field>
					</div>
					<!-- col 1 -->
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
						<mat-slide-toggle matTooltip="must be given a value" formControlName="cbRequired">
							Required
						</mat-slide-toggle>
					</div>
					<!-- col 2 -->
				</div>
				<!-- row 1 -->
				<div class="row newL">
					<div class="col-lg-12-col-md-12 col-sm-12 col-xs-12">
						<mat-form-field floatLabel="auto" *ngIf="getControl('taDescription'); let desc">
							<textarea matInput placeholder="Description" formControlName="taDescription" matTextareaAutosize [maxLength]="rules.descriptionMaxLength"></textarea>
							<button *ngIf="hasValue(desc.value)" mat-icon-button matSuffix (click)="onEraseClick($event, desc)">
								<mat-icon>cancel</mat-icon>
							</button>
							<mat-hint align="end">
								characters left: {{ hasValue(desc.value) ? rules.descriptionMaxLength - desc.value.length : rules.descriptionMaxLength }}
							</mat-hint>
						</mat-form-field>
					</div>
				</div>
				<!-- row 2 -->
			</div>
		</mat-tab>
		<!-- general info tab -->
		<mat-tab label="Input" class="mviwo-unselectable" *ngIf="{ name: getControl('tfName'), required: getControl('cbRequired'), default: getControl('defaultValue') }; let prop">
			<div mat-dialog-content>
				<div class="row newL">
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
						<mat-form-field floatLabel="auto" style="padding: 10px; border-radius: 5px; border:1px solid lightgrey">
							<mat-select placeholder="Date Type" required formControlName="slDataType" style="width:100%" (selectionChange)="onDataTypeChange()">
								<mat-option *ngIf="!data.isEdit && !hasValue(dataType)">Select a datatype..</mat-option>
								<mat-option *ngFor="let dType of dataTypes" [matTooltip]="dType.desc" [matTooltipShowDelay]="500" [value]="dType.name">
									{{ dType.simpleName }}
								</mat-option>
							</mat-select>
							<mat-error>
								must select a data type!
							</mat-error>
						</mat-form-field>
					</div>
					<!-- col 1 -->
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
						<div formGroupName="grpEnumParams" *ngIf="dataType.value === 'enum'">
							<div class="row" style="padding: 10px">
								<mat-slide-toggle formControlName="cbMultiple">
									Multiple Choice
								</mat-slide-toggle>
							</div>
						</div>
						<div *ngIf="dataType.value === 'number'">
							<div class="row" style="padding: 10px">
								<mat-select placeholder="Apply preset..">
									<mat-option *ngFor="let preset of numberPresets" (click)="onPresetPicked(preset)">
										{{ preset.name }}
									</mat-option>
								</mat-select>
							</div>
							<div class="row" style="padding: 10px">
								<div formGroupName="grpNumberParams">
									<mat-slide-toggle formControlName="cbFreeInput">
										Free Input
									</mat-slide-toggle>
								</div>
							</div>
						</div>
						<div *ngIf="dataType.value === 'string'">
							<div class="row" style="padding: 10px">
								<div class="col-lg-12">
									<div formGroupName="grpStringParams">
										<mat-slide-toggle formControlName="cbLineBreaks" (change)="onLineBreaksTicked()">
											Line Breaks
										</mat-slide-toggle>
									</div>
								</div>
							</div>
							<div class="row" style="padding: 10px">
								<div class="col-lg-12">
									<div formGroupName="grpStringParams">
										<mat-slide-toggle formControlName="cbEmail" (change)="onEmailTicked()">
											Email Field
										</mat-slide-toggle>
									</div>
								</div>
							</div>
						</div>
						<div *ngIf="dataType.value === 'date'">
							<div class="row" style="padding: 10px">
								<div class="col-lg-12">
									<div formGroupName="grpDateParams">
										<mat-slide-toggle formControlName="cbIsMinDateCurrent" (change)="onMinMaxCurrentChange('min')">
											Min Current
										</mat-slide-toggle>
									</div>
								</div>
							</div>
							<div class="row" style="padding: 10px">
								<div class="col-lg-12">
									<div formGroupName="grpDateParams">
										<mat-slide-toggle formControlName="cbIsMaxDateCurrent" (change)="onMinMaxCurrentChange('max')">
											Max Current
										</mat-slide-toggle>
									</div>
								</div>
							</div>
						</div>
						<div *ngIf="dataType.value === 'boolean'">
							<div class="row" style="padding: 10px">
								<div class="col-lg-12">
									<mat-checkbox formControlName="defaultValue">Default Value</mat-checkbox>
								</div>
							</div>
						</div>
					</div>
					<!-- col 2 -->
				</div>
				<!-- row 1-->
				<div class="row newL" *ngIf="hasValue(dataType.value)">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div *ngIf="dataType.value === 'boolean'">
							<hr>
							<div class="form-group">
								<label class="text-muted">Preview</label>
								<br>
								<mat-checkbox style="padding-left: 20px !important" color="primary" [indeterminate]="prop.required.value === false">{{ prop.name.value || '{METRIC_NAME}' }}</mat-checkbox>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" *ngIf="dataType.value !== 'boolean'">
						<div *ngIf="dataType.value === 'string'">
							<mat-form-field *ngIf="getControl('tfHint', 'grpStringParams'); let hint" floatLabel="auto" formGroupName="grpStringParams">
								<input matInput type="text" placeholder="Hint" formControlName="tfHint" [maxlength]="rules.hintMaxLength">
								<button *ngIf="hasValue(hint.value)" mat-icon-button matSuffix (click)="onEraseClick($event, hint)">
									<mat-icon>cancel</mat-icon>
								</button>
								<mat-hint align="start">shown under input control</mat-hint>
								<mat-hint align="end">
									characters left: {{ (hint.value) ? rules.hintMaxLength - hint.value.length : rules.hintMaxLength }}
								</mat-hint>
							</mat-form-field>
						</div>
						<div *ngIf="dataType.value === 'number'">
							<mat-form-field *ngIf="getControl('tfMinValue', 'grpNumberParams'); let minVal" floatLabel="auto" formGroupName="grpNumberParams">
								<input matInput type="number" placeholder="Minimum Value" formControlName="tfMinValue" (change)="onMinMaxValueChange('min')">
								<button *ngIf="hasValue(minVal.value)" mat-icon-button matSuffix (click)="onEraseClick($event, minVal)">
									<mat-icon>cancel</mat-icon>
								</button>
								<mat-hint align="end">default to 0</mat-hint>
								<mat-error>
									{{ getMinValueErrorMessage() }}
								</mat-error>
							</mat-form-field>
						</div>
						<mat-form-field floatLabel="auto" *ngIf="dataType.value === 'enum'">
							<input matInput type="text" placeholder="add list values.." [pattern]="rules.enumValuePattern" [formControl]="xxValuesInput">
							<mat-error>
								{{ xxValuesInput.hasError('pattern') ? 'numbers or valid sentences only!' : xxValuesInput.hasError('valueNotExists') ? 'value
								already in list!' : xxValuesInput.hasError('dependancy') ? 'minimum 2 values!' : '' }}
							</mat-error>
							<mat-icon matSuffix *ngIf="xxValuesInput.value && xxValuesInput.value.length && !xxValuesInput.hasError('pattern') && !xxValuesInput.hasError('valueNotExists')"
							    color="accent" (click)="addEnumValue()">
								<button class="btn btn-success btn-circle">
									<i class="fa fa-plus" aria-hidden="true"></i>
								</button>
							</mat-icon>
						</mat-form-field>
						<div class="newL" *ngIf="dataType.value === 'enum'">
							<div *ngIf="getControlValue('cbMultiple', 'grpEnumParams'); then multiDefVal; else singleDefVal"></div>
							<ng-template #multiDefVal>
								<mat-form-field floatLabel="auto">
									<mat-select placeholder="Default Value" formControlName="defaultValue" multiple>
										<mat-option *ngFor="let ctrl of getxxValuesControls()" [value]="ctrl.value">{{ ctrl.value }}</mat-option>
									</mat-select>
									<button matSuffix mat-icon-button *ngIf="hasValue(prop.default.value)" (click)="onEraseClick($event, prop.default)">
										<mat-icon>cancel</mat-icon>
									</button>
								</mat-form-field>
							</ng-template>
							<ng-template #singleDefVal>
								<mat-form-field floatLabel="auto">
									<mat-select placeholder="Default Value" formControlName="defaultValue">
										<mat-option>Select a value..</mat-option>
										<mat-option *ngFor="let ctrl of getxxValuesControls()" [value]="ctrl.value">{{ ctrl.value }}</mat-option>
									</mat-select>
								</mat-form-field>
							</ng-template>
						</div>
						<div *ngIf="dataType.value === 'date'">
							<div *ngIf="!getControlValue('cbIsMinDateCurrent', 'grpDateParams'); else minoffset">
								<mat-form-field *ngIf="getControl('dpMinDate', 'grpDateParams'); let minDate" floatLabel="auto" formGroupName="grpDateParams">
									<input matInput readonly (click)="dp.open()" [matDatepicker]="dp" placeholder="Minimum Date" formControlName="dpMinDate"
									    [max]="getControlValue('dpMaxDate', 'grpDateParams')">
									<button *ngIf="hasValue(minDate.value)" mat-icon-button matSuffix (click)="onEraseClick($event, minDate)">
										<mat-icon>cancel</mat-icon>
									</button>
									<mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
									<mat-datepicker #dp></mat-datepicker>
								</mat-form-field>
							</div>
							<ng-template #minoffset>
								<mat-form-field floatLabel="auto" formGroupName="grpDateParams" *ngIf="getControl('tfMinDateOffset', 'grpDateParams'); let minDateOffset">
									<span matPrefix *ngIf="minDateOffset.value > 0">+</span>
									<input type="number" matInput placeholder="Min Date Offset" formControlName="tfMinDateOffset" [step]="1">
									<span matSuffix> days</span>
									<button *ngIf="hasValue(minDateOffset.value)" mat-icon-button matSuffix (click)="onEraseClick($event, minDateOffset)">
										<mat-icon>cancel</mat-icon>
									</button>
									<mat-hint align="end">
										defaults to 0
									</mat-hint>
									<mat-error>
										cannot be greater than max offset!
									</mat-error>
								</mat-form-field>
							</ng-template>
						</div>
					</div>
					<!-- col 1 -->
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" *ngIf="dataType.value !== 'boolean'">
						<div *ngIf="dataType.value === 'string'" style="min-height: 70px">
							<div *ngIf="!getControlValue('cbLineBreaks', 'grpStringParams') && !getControlValue('cbEmail', 'grpStringParams')">
								<mat-form-field *ngIf="getControl('tfPattern', 'grpStringParams'); let pattern" floatLabel="auto" formGroupName="grpStringParams">
									<input matInput type="text" placeholder="Pattern" formControlName="tfPattern" (change)="onPatternChange()">
									<button *ngIf="hasValue(pattern.value)" mat-icon-button matSuffix (click)="onEraseClick($event, pattern)">
										<mat-icon>cancel</mat-icon>
									</button>
									<mat-hint>enter a regular expression</mat-hint>
									<mat-error>
										{{ getPatternErrorMessage() }}
									</mat-error>
								</mat-form-field>
							</div>
						</div>
						<div *ngIf="dataType.value === 'number'">
							<mat-form-field *ngIf="getControl('tfMaxValue', 'grpNumberParams'); let maxVal" floatLabel="auto" formGroupName="grpNumberParams">
								<input matInput type="number" placeholder="Maximum Value" formControlName="tfMaxValue" (change)="onMinMaxValueChange('max')">
								<button *ngIf="hasValue(maxVal.value)" mat-icon-button matSuffix (click)="onEraseClick($event, maxVal)">
									<mat-icon>cancel</mat-icon>
								</button>
								<mat-hint align="end">default to 100</mat-hint>
								<mat-error>
									{{ getMaxValueErrorMessage() }}
								</mat-error>
							</mat-form-field>
						</div>
						<div *ngIf="dataType.value === 'enum'">
							<mat-label>Value List</mat-label>
							<mat-list class="xxValuesList">
								<mat-list-item style="padding-bottom: 15px; background-color: rgb(70,70,70)" *ngIf="!getxxValuesControls().length">
									<small>NO VALUES ADDED</small>
								</mat-list-item>
								<mat-list-item style="padding-bottom: 15px; background-color: rgb(70,70,70)" class="mat-elevation-z2" *ngFor="let valueCtrl of getxxValuesControls()">
									<button class="btn btn-danger btn-circle" (click)="removeEnumValue(valueCtrl)">
										<i class="fa fa-minus" aria-hidden="true"></i>
									</button>
									<span style="padding-left: 15px;">{{ valueCtrl.value }}</span>
								</mat-list-item>
							</mat-list>
						</div>
						<div *ngIf="dataType.value === 'date'">
							<div *ngIf="!getControlValue('cbIsMaxDateCurrent', 'grpDateParams'); then maxdate; else maxoffset"></div>
							<ng-template #maxdate>
								<mat-form-field *ngIf="getControl('dpMaxDate', 'grpDateParams'); let maxDate" floatLabel="auto" formGroupName="grpDateParams">
									<input matInput readonly (click)="dp.open()" [matDatepicker]="dp" placeholder="Maximum Date" formControlName="dpMaxDate"
									    [min]="getControlValue('dpMinDate', 'grpDateParams')">
									<button *ngIf="hasValue(maxDate.value)" mat-icon-button matSuffix (click)="onEraseClick($event, maxDate)">
										<mat-icon>cancel</mat-icon>
									</button>
									<mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
									<mat-datepicker #dp></mat-datepicker>
								</mat-form-field>
							</ng-template>
							<ng-template #maxoffset>
								<mat-form-field *ngIf="getControl('tfMaxDateOffset', 'grpDateParams'); let maxDateOffset" floatLabel="auto" formGroupName="grpDateParams">
									<span matPrefix *ngIf="maxDateOffset.value > 0">+</span>
									<input type="number" matInput placeholder="Max Date Offset" formControlName="tfMaxDateOffset" [step]="1">
									<button *ngIf="hasValue(maxDateOffset.value)" mat-icon-button matSuffix (click)="onEraseClick($event, maxDateOffset)">
										<mat-icon>cancel</mat-icon>
									</button>
									<span matSuffix> days</span>
									<mat-hint>
										defaults to 0
									</mat-hint>
									<mat-error>
										cannot be less than min offset!
									</mat-error>
								</mat-form-field>
							</ng-template>
						</div>
					</div>
					<!-- col 2 -->
				</div>
				<!-- row 2 -->
				<div class="row newL" *ngIf="hasValue(dataType.value) && !['boolean'].includes(dataType.value)">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="dataType.value === 'enum'">
						<form ngForm>
							<hr>
							<div class="form-group">
								<label class="text-muted">Preview</label>
								<br>
								<div *ngIf="!getControlValue('cbMultiple', 'grpEnumParams'); then singleChoice; else multipleChoice"></div>
								<ng-template #singleChoice>
									<mat-form-field labelfloat="auto">
										<mat-select ngModel #enumPrev1="ngModel" name="enumPrev1" [placeholder]="prop.name.value || '{METRIC_NAME}'" [required]="prop.required.value === true">
											<mat-option *ngIf="!prop.required.value">Select a {{ prop.name.value || '{METRIC_NAME}' | lowercase }}..</mat-option>
											<mat-option *ngFor="let ctrl of getxxValuesControls()" [value]="ctrl.value">
												{{ ctrl.value }}
											</mat-option>
										</mat-select>
										<mat-error>
											you must select a {{ prop.name.value || '{METRIC_NAME}' | lowercase }}!
										</mat-error>
									</mat-form-field>
								</ng-template>
								<ng-template #multipleChoice>
									<mat-form-field labelfloat="auto">
										<mat-select ngModel #enumPrev2="ngModel" name="enumPrev2" [placeholder]="prop.name.value || '{METRIC_NAME}'" multiple [required]="prop.required.value === true">
											<mat-option *ngFor="let ctrl of getxxValuesControls()" [value]="ctrl.value">
												{{ ctrl.value }}
											</mat-option>
										</mat-select>
										<button *ngIf="hasValue(enumPrev2.value)" mat-icon-button matSuffix (click)="onEraseClick($event, enumPrev2.control)">
											<mat-icon>cancel</mat-icon>
										</button>
										<mat-error>
											you must select {{ prop.name.value || '{METRIC_NAME}' | lowercase }}\s!
										</mat-error>
									</mat-form-field>
								</ng-template>
							</div>
						</form>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" *ngIf="['string', 'number', 'date'].includes(dataType.value)">
						<div *ngIf="dataType.value === 'string'">
							<mat-form-field *ngIf="getControl('tfMinLength', 'grpStringParams'); let minLength" floatLabel="auto" formGroupName="grpStringParams">
								<input matInput type="number" placeholder="Minimum Length" formControlName="tfMinLength" min="0" (change)="onMinMaxLengthChange('min')">
								<button *ngIf="hasValue(minLength.value)" mat-icon-button matSuffix (click)="onEraseClick($event, minLength)">
									<mat-icon>cancel</mat-icon>
								</button>
								<mat-hint align="end">defaults to 0</mat-hint>
								<mat-error>
									{{ getMinLengthErrorMessage() }}
								</mat-error>
							</mat-form-field>
						</div>
						<div *ngIf="dataType.value === 'number'">
							<mat-form-field *ngIf="getControl('tfStep', 'grpNumberParams'); let step" floatLabel="auto" formGroupName="grpNumberParams">
								<input matInput type="number" placeholder="Step" formControlName="tfStep">
								<button *ngIf="hasValue(step.value)" mat-icon-button matSuffix (click)="onEraseClick($event, step)">
									<mat-icon>cancel</mat-icon>
								</button>
								<mat-hint align="start">gap between values</mat-hint>
								<mat-hint align="end">defaults to 1</mat-hint>
								<mat-error>
									{{ getStepErrorMessage() }}
								</mat-error>
							</mat-form-field>
						</div>
						<div *ngIf="dataType.value === 'date' && !getControlValue('cbIsMinDateCurrent', 'grpDateParams') && !getControlValue('cbIsMaxDateCurrent', 'grpDateParams')">
							<mat-form-field>
								<input matInput readonly (click)="dp.open()" [matDatepicker]="dp" placeholder="Default Value" formControlName="defaultValue"
								    [min]="getControlValue('dpMinDate', 'grpDateParams')" [max]="getControlValue('dpMaxDate', 'grpDateParams')">
								<button *ngIf="hasValue(prop.default.value)" mat-icon-button matSuffix (click)="onEraseClick($event, prop.default)">
									<mat-icon>cancel</mat-icon>
								</button>
								<mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
								<mat-datepicker #dp></mat-datepicker>
								<mat-error>value is out of bounds!</mat-error>
							</mat-form-field>
						</div>
					</div>
					<!-- col 1 -->
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" *ngIf="['string', 'number'].includes(dataType.value)">
						<div *ngIf="dataType.value === 'string'">
							<mat-form-field *ngIf="getControl('tfMaxLength', 'grpStringParams'); let maxLength" floatLabel="auto" formGroupName="grpStringParams">
								<input matInput type="number" placeholder="Maximum Length" formControlName="tfMaxLength" min="1" (change)="onMinMaxLengthChange('max')">
								<button *ngIf="hasValue(maxLength.value)" mat-icon-button matSuffix (click)="onEraseClick($event, maxLength)">
									<mat-icon>cancel</mat-icon>
								</button>
								<mat-error>
									{{ getMaxLengthErrorMessage() }}
								</mat-error>
							</mat-form-field>
						</div>
						<div *ngIf="dataType.value === 'number'">
							<mat-form-field *ngIf="getControl('tfTickInterval', 'grpNumberParams'); let tickInterval" floatLabel="auto" formGroupName="grpNumberParams">
								<input matInput type="number" placeholder="Tick Interval" formControlName="tfTickInterval" min="0">
								<button *ngIf="hasValue(tickInterval.value)" mat-icon-button matSuffix (click)="onEraseClick($event, tickInterval)">
									<mat-icon>cancel</mat-icon>
								</button>
								<mat-hint align="start">tick every _ values</mat-hint>
								<mat-hint align="end">defaults to 1</mat-hint>
								<mat-error>
									{{ getTickIntervalErrorMessage() }}
								</mat-error>
							</mat-form-field>
						</div>
					</div>
					<!-- col 2 -->
				</div>
				<!-- row 3 -->
				<div class="row newL" *ngIf="hasValue(dataType.value) && !['boolean', 'enum'].includes(dataType.value)">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="['string'].includes(dataType.value)">
						<mat-form-field floatLabel="auto" *ngIf="getControl('cbEmail', 'grpStringParams'); let email">
							<input matInput placeholder="Default Value" [email]="email.value" [pattern]="!email.value && !getControlValue('cbLineBreaks', 'grpStringParams') ? getControlValue('tfPattern', 'grpStringParams') : ''"
							    formControlName="defaultValue">
							<button *ngIf="hasValue(prop.default.value)" mat-icon-button matSuffix (click)="onEraseClick($event, prop.default)">
								<mat-icon>cancel</mat-icon>
							</button>
							<mat-error>value does not abide by rules: {{ getDefaultValueErrors() }}</mat-error>
						</mat-form-field>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" *ngIf="['number','date'].includes(dataType.value)">
						<div *ngIf="dataType.value === 'number'">
							<mat-form-field floatLabel="auto" formGroupName="grpNumberParams" *ngIf="getControl('tfPrefix', 'grpNumberParams'); let prefix">
								<input matInput placeholder="Prefix" type="text" formControlName="tfPrefix">
								<button *ngIf="hasValue(prefix.value)" mat-icon-button matSuffix (click)="onEraseClick($event, prefix)">
									<mat-icon>cancel</mat-icon>
								</button>
								<mat-hint align="right">displayed before value</mat-hint>
							</mat-form-field>
						</div>
						<form *ngIf="dataType.value === 'date'">
							<hr>
							<label class="text-muted">Preview</label>
							<br>
							<mat-form-field>
								<input matInput readonly (click)="picker.open()" #pickertf="ngModel" ngModel name="pickertf" [required]="prop.required.value"
								    [min]="getControlValue('cbIsMinDateCurrent', 'grpDateParams') ?
												dates.offsetDate(getControlValue('tfMinDateOffset', 'grpDateParams')) :
												getControlValue('dpMinDate', 'grpDateParams')" [max]="getControlValue('cbIsMaxDateCurrent', 'grpDateParams') ?
												dates.offsetDate(getControlValue('tfMaxDateOffset', 'grpDateParams')) :
												getControlValue('dpMaxDate', 'grpDateParams')" [matDatepicker]="picker" [placeholder]="prop.name.value || '{METRIC_NAME}'">
								<button *ngIf="hasValue(pickertf.value)" mat-icon-button matSuffix (click)="onEraseClick($event, pickertf.control)">
									<mat-icon>cancel</mat-icon>
								</button>
								<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
								<mat-datepicker #picker></mat-datepicker>
								<mat-error>{{ pickertf.hasError('required') ? 'you must enter a ' + (prop.name.value || '{METRIC_NAME}' | lowercase) + '!' :
									'invalid date!' }}</mat-error>
							</mat-form-field>
						</form>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" *ngIf="dataType.value === 'number'">
						<mat-form-field floatLabel="auto" formGroupName="grpNumberParams" *ngIf="getControl('tfPostfix', 'grpNumberParams'); let postfix">
							<input matInput placeholder="Postfix" type="text" formControlName="tfPostfix">
							<button *ngIf="hasValue(postfix.value)" mat-icon-button matSuffix (click)="onEraseClick($event, postfix)">
								<mat-icon>cancel</mat-icon>
							</button>
							<mat-hint align="right">displayed after value</mat-hint>
						</mat-form-field>
					</div>
				</div>
				<!-- row 4 -->
				<div class="row newL" *ngIf="hasValue(dataType.value) && !['boolean', 'date', 'enum'].includes(dataType.value)">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" *ngIf="dataType.value === 'number'">
						<mat-form-field floatLabel="auto">
							<input matInput type="number" placeholder="Default Value" formControlName="defaultValue" [min]="getControlValue('tfMinValue', 'grpNumberParams')"
							    [max]="getControlValue('tfMaxValue', 'grpNumberParams')" [step]="getControlValue('tfStep', 'grpNumberParams')" (keyup)="prop.default.setValue(fixNumberInput(prop.default.value))">
							<button *ngIf="hasValue(prop.default.value)" mat-icon-button matSuffix (click)="onEraseClick($event, prop.default)">
								<mat-icon>cancel</mat-icon>
							</button>
							<!-- <mat-hint align="end">defaults to Minimum Value</mat-hint> -->
							<mat-error>value out of bounds!</mat-error>
						</mat-form-field>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="dataType.value === 'string'">
						<form ngForm>
							<hr>
							<div class="form-group" *ngIf="{ maxLength: getControl('tfMaxLength', 'grpStringParams'), hint: getControl('tfHint', 'grpStringParams') }; let local">
								<label class="text-muted">Preview</label>
								<div *ngIf="getControlValue('cbLineBreaks', 'grpStringParams'); then textarea; else inputfield"></div>
								<ng-template #inputfield>
									<mat-form-field floatLabel="auto" *ngIf="getControl('cbEmail', 'grpStringParams'); let email">
										<input matInput ngModel #textfieldPrev="ngModel" name="textfieldPrev" type="text" [placeholder]="prop.name.value || '{METRIC_NAME}'"
										    [required]="prop.required.value" [minlength]="getControlValue('tfMinLength', 'grpStringParams')" [maxlength]="getControlValue('tfMaxLength','grpStringParams')"
										    [email]="email.value" [pattern]="(email.value) ? '' : getControlValue('tfPattern', 'grpStringParams')">
										<button mat-icon-button matSuffix *ngIf="hasValue(textfieldPrev.control.value)" (click)="onEraseClick($event, textfieldPrev.control)">
											<mat-icon>cancel</mat-icon>
										</button>
										<mat-hint align="start">{{ local.hint.value || '{HINT}' }}</mat-hint>
										<mat-hint align="end" *ngIf="hasValue(local.maxLength.value)">
											characters left: {{ (textfieldPrev.value) ? local.maxLength.value - textfieldPrev.value.length : local.maxLength.value }}
										</mat-hint>
										<mat-error>
											{{ textfieldPrev.hasError('required') ? 'you must enter ' + (prop.name.value || '{METRIC_NAME}' | lowercase) + '!' : textfieldPrev.hasError('email')
											? 'invalid email address!' : textfieldPrev.hasError('pattern') ? 'invalid value!' : textfieldPrev.hasError('minlength')
											? 'too short!' : '' }}
										</mat-error>
									</mat-form-field>
								</ng-template>
								<ng-template #textarea>
									<mat-form-field floatLabel="auto">
										<textarea matInput matTextareaAutosize ngModel #textareaPrev="ngModel" [placeholder]="prop.name.value || '{METRIC_NAME}'"
										    name="textareaPrev" [minlength]="getControlValue('tfMinLength', 'grpStringParams')" [required]="prop.required.value"
										    [maxlength]="local.maxLength.value"></textarea>
										<button mat-icon-button matSuffix *ngIf="hasValue(textareaPrev.control.value)" (click)="onEraseClick($event, textareaPrev.control)">
											<mat-icon>cancel</mat-icon>
										</button>
										<mat-hint align="start">{{ local.hint.value || '{HINT}' }}</mat-hint>
										<mat-hint align="end" *ngIf="hasValue(local.maxLength.value)">
											characters left: {{ (textareaPrev.value) ? local.maxLength.value - textareaPrev.value.length : local.maxLength.value }}
										</mat-hint>
										<mat-error>
											{{ textareaPrev.hasError('required') ? 'you must enter ' + (prop.name.value || '{METRIC_NAME}' | lowercase) + '!' : textareaPrev.hasError('minlength')
											? 'too short!' : '' }}
										</mat-error>
									</mat-form-field>
								</ng-template>
							</div>
						</form>
					</div>
				</div>
				<!-- row 5 -->
				<div class="row newL" *ngIf="dataType.value === 'number'">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<form ngForm #prevfrm="ngForm">
							<hr>
							<div form-group>
								<label for="sliderPrev" class="text-muted">Preview</label>
								<br>
								<div class="row" *ngIf="{ maxVal: getControl('tfMaxValue', 'grpNumberParams'), minVal: getControl('tfMinValue', 'grpNumberParams'), step: getControl('tfStep', 'grpNumberParams'), freeInput: getControl('cbFreeInput', 'grpNumberParams') }; let local">
									<div *ngIf="!prop.required.value" class="col-md-1 col-sm-1 col-xs-1">
										<div class="sliderchk">
											<mat-checkbox #chk="ngModel" [ngModel]="false" name="chk" (change)="sliderPrev = chk.value ? sliderPrev : ''"></mat-checkbox>
										</div>
									</div>
									<div class="col-md-{{!prop.required.value ? '8' : '9'}} col-sm-{{!prop.required.value ? '8' : '9'}} col-xs-{{!prop.required.value ? '8' : '9'}}">
										<mat-label class="{{prop.required.value && !sliderPrev && prevfrm.controls['sliderPrev'] && prevfrm.controls['sliderPrev'].touched ? 'sliderinvalid' : ''}}"><strong>{{ prop.name.value || '{METRIC_NAME}' }}{{ prop.required.value ? ' *' : '' }}</strong></mat-label>
										<mat-error class="pull-right" style="font-size: 70%" *ngIf="prop.required.value && prevfrm.controls['sliderPrev'] && prevfrm.controls['sliderPrev'].touched && !sliderPrev">must pick a {{ prop.name.value || '{METRIC_NAME}' }}!</mat-error>
										<div class="{{prevfrm.value.chk === false ? 'slideroff' : ''}}" (blur)="hasValue(sliderPrev) ? prevfrm.controls['sliderPrev'].markAsValid() : prevfrm.controls['sliderPrev'].markAsInvalid()">
											<mat-slider style="width: 100%" [(ngModel)]="sliderPrev" [min]="local.minVal.value" [max]="local.maxVal.value" [step]="local.step.value"
											    [tickInterval]="getControlValue('tfTickInterval', 'grpNumberParams') || 1" thumbLabel="true" name="sliderPrev">
											</mat-slider>
											<input *ngIf="!local.freeInput.value" hidden type="text" [ngModel]="sliderPrev" name="sliderPrevHidden" [required]="prop.required.value">
										</div>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-3" *ngIf="{ prefix: getControl('tfPrefix', 'grpNumberParams'), postfix: getControl('tfPostfix', 'grpNumberParams') }; let pronto">
										<div *ngIf="!local.freeInput.value; then label; else freeInput"></div>
										<ng-template #label>
											<br>
											<mat-label *ngIf="hasValue(sliderPrev)" class="{{ prevfrm.value.chk === false ? 'slideroff' : ''}}">
												{{ ((hasValue(pronto.prefix.value)) ? (pronto.prefix.value + ' ') : '') }}
												<strong>{{ sliderPrev }}</strong>
												{{((hasValue(pronto.postfix.value)) ? (' ' + pronto.postfix.value) : '')}}
											</mat-label>
										</ng-template>
										<ng-template #freeInput>
											<div class="{{ prevfrm.value.chk === false ? 'slideroff' : ''}}">
												<mat-form-field class="freeInput" floatLabel="never" [hideRequiredMarker]="true">
													<span matPrefix>{{ pronto.prefix.value }}</span>
													<input [required]="prop.required.value" matInput type="number" #freeInputCtrl="ngModel" [(ngModel)]="sliderPrev" name="sliderPrevInput" [min]="local.minVal.value || 0"
													    [max]="local.maxVal.value || 100" placeholder="insert value.." [step]="local.step.value || 1" (keyup)="sliderPrev = fixNumberInput(sliderPrev)">
													<span matSuffix>{{ pronto.postfix.value }}</span>
													<button *ngIf="hasValue(freeInputCtrl.value)" mat-icon-button matSuffix (click)="onEraseClick($event, freeInputCtrl.control)">
															<mat-icon>cancel</mat-icon>
													</button>
													<!-- <mat-error>must enter a {{ prop.name.value || '{METRIC_NAME}' }}!</mat-error> -->
												</mat-form-field>
											</div>
										</ng-template>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
				<!-- row 6 -->
			</div>
		</mat-tab>
		<mat-tab label="Group/s" class="mviwo-unselectable" [disabled]="!groupsLoaded">
			<div mat-dialog-content>
				<div class="row newL" style="max-height: 500px; min-height: 300px">
					<div class="col-md-12">
						<mviwo-list-select [dataSource]="metricGroups" sourceLabel="groups" targetLabel="selected groups" [showFields]="['name','metrics']"
						    formControlName="xxGroups" [immovableFunction]="groupsImmovableFunction"></mviwo-list-select>
					</div>
				</div>
			</div>
		</mat-tab>
	</mat-tab-group>
</form>
<div mat-dialog-actions class="modal-footer newL">
	<button mat-raised-button color="primary" matTooltip="save changes" type="button" [disabled]="!groupsLoaded || form.invalid || form.pristine"
	    (click)="onSaveClick()">
		<i class="fa fa-floppy-o" aria-hidden="true"></i>
	</button>
	<button mat-raised-button color="accent" matTooltip="undo changes" type="button" [disabled]="form.pristine" (click)="onResetClick()">
		<i class="fa fa-undo" aria-hidden="true"></i>
	</button>
	<button mat-raised-button matTooltip="cancel" type="button" (click)="onCancelClick()">
		<i class="fa fa-times" aria-hidden="true"></i>
	</button>
</div>
