@import '~@angular/material/prebuilt-themes/purple-green.css';
@import '~@angular/material/theming';

$background: rgb(48,48,48);
$background-brighter: #424242;
$mviwo-pup: 'https://assets.bondivet.com/attachments/e2227498a230f5ffbf59eb262c284939478acf99/store/c4a031594d341bf97e2b84602f3edbd097d9d0fc8fee0557ce08df788f2a/image.jpeg';

body {
	background-color: $background;
}

.mviwo-head {
	background-image: url($mviwo-pup);
	background-size: cover;
}

.mviwo-snackbar-dark {
	@include mat-elevation(5);
	background-color: $background-brighter;
}
