.optionalLabel {
    font-size: 80%;
}

textarea {
    resize: none;
}

.modal-modal {
    margin-top: 50px;
    /* width: 50%; */
    /* min-width: 500px; */
    /* max-width: 700px; */
    margin: auto;
}

select {
    font-family: 'FontAwesome', 'arial';
}

mat-form-field {
    width: 100%;
}

.newL {
	margin-top: 10px
}

@media only screen and (min-width: 992px) {
	.mat-dialog-content {
		max-height: 70vh;
		overflow-y: auto;
	}
}

.slideroff {
	opacity: 0.25;
	pointer-events: none;
}

.sliderchk {
	margin-left: 20px;
}

.sliderinvalid {
	color: #f44336;
}

.freeInput {
	margin-top: 6px;
}

.left-buttons {
	margin: auto;
}

